<h1>Operating Systems</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @operating_systems.each do |operating_system| %>
      <tr>
        <td><%= operating_system.name %></td>
        <td>
          <%= link_to 'Edit', edit_operating_system_path(operating_system), :class => 'btn btn-mini' %>
          <%= destroy_link(operating_system) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_operating_system_path, :class => 'btn btn-primary' %>
