<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<%= render :partial=>"admin/navigation" %>
    </ul>
  </div>          
  <div class="content">          
    <div class="inner">
