#user_nav{
	font-size: 14px;
	
}


#flash_notice, #flash_error {
  padding: 5px 8px;
	margin: 10px 35% 10px 25px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
li.model_item{
	margin-left: 15px;

}
