#menu,#header, #main-navigation, .secondary-navigation, #user-navigation, .navigation,.noprint, .flash, #footer{
	display: none;
	}
	
#wrapper, #content {
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	font-size: 12px;
}
p{
	padding: 0;
	margin: 1px 4px 4px;
}

div.sortingblock{
	border-style: none;
	padding: 0;
	margin: 0;
}
h3{
	
	size: 22px;
	padding-bottom: 0;
	margin-bottom: 2px;
}