<div class="block">
  <h3>Tickets By Area</h3>
  <div class="navigation">
  	  <ul class="navigation">
		<% Area.all.each do |area| %>
		<%= sidebar_list_item(area.name, Ticket.for_area(area.id).unresolved.count.to_s, Ticket.for_area(area.id).resolved.count.to_s, :show_by_area) %>
		<% end %>
	  </ul>
  </div>
</div>