<div class="block">
  <h3>Tickets By Project</h3>
  <div class="navigation">
  	  <ul class="navigation">
		<% Project.all.each do |project| %>
		<%= sidebar_list_item(project.name, Ticket.for_project(project.id).unresolved.count.to_s, Ticket.for_project(project.id).resolved.count.to_s, :show_by_project) %>
		<% end %>
	  </ul>
  </div>
</div>