<%= render :partial=>"user_tickets" %>
<%= render :partial=>"area_tickets" %>
<%= render :partial=>"project_tickets" %>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>