<div class="block">
  <h3>Tickets By Users</h3>
  <div class="navigation">
  	  <ul class="navigation">
		<% User.workers.each do |user| %>
		<%= sidebar_list_item(user.first_name, Ticket.for_user(user.id).unresolved.count.to_s, Ticket.for_user(user.id).resolved.count.to_s, :index,user.id) %>
		<% end %>
	  </ul>
  </div>
</div>