<% title "Tickets" %>	
<div class="block">
  <div class="content">
    <h4>Tickets</h4> <%= link_to " New Ticket", new_ticket_path, class: 'icon-plus icon-bigger pull-right inline' %>
    <div class="inner">
      <%= render :partial=>"tickets", :locals => { :tickets => @tickets }  %>
    </div>
  </div>
</div>
