<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="block">
  <h3>CPU Ratings</h3>
  <ul class="navigation">
    <li><a href="#">Less than P4 - 1</a></li>
    <li><a href="#">Celeron - 1</a></li>
    <li><a href="#">P4 2.0-3.0 - 2</a></li>
    <li><a href="#">P4 > 3.0 - 3</a></li>
    <li><a href="#">Pent D or Pent M - 3</a></li>
    <li><a href="#">Core Duo 1.0-2.0 - 4</a></li>
    <li><a href="#">Core Duo > 2.0 - 5</a></li>
    <li><a href="#">Core 2 Duo > 2.0 - 6</a></li>	
    <li><a href="#">Core i3 - 7</a></li>	
    <li><a href="#">Core i5 - 8</a></li>	
    <li><a href="#">Core i7 - 9</a></li>	
  </ul>
</div>