<div id='ember-app'>
</div>
<%= javascript_include_tag "load_ember" %>
<script src="http://rawgit.com/Addepar/ember-table/master/dependencies/antiscroll/antiscroll.js"></script>
<script src="http://rawgit.com/Addepar/ember-table/master/dependencies/ember-addepar-mixins/resize_handler.js"></script>
<script src="http://rawgit.com/Addepar/ember-table/master/dependencies/ember-addepar-mixins/style_bindings.js"></script>
<%= javascript_include_tag "ember-table" %>
