<div class="row">
  <div class="span4">
    {{input value=searchText name='Search' placeholder='Search'}}
    <div>
      <a href='/items.csv'>Export Items to CSV</a>
    </div>
    <div class="items">
      {{
        table-component
        hasFooter=false
        columnsBinding="columns"
        contentBinding="content"
        selection=chosen
      }}
    </div>
  </div>
  <div class="span6">
    {{outlet}}
  </div>
</div>
