<li class="first"><%= link_to "DNS", :controller=>"reports", :action=>"dns"  %></li>
<li><%= link_to "Processor Ratings", :controller=>"reports", :action=>"proc_ratings" %></li>
<li><%= link_to "Upgrades", :controller=>"reports", :action=>"upgrades" %></li>