  <table>
    <tr>
      <th>Report Name</th>
      <th>Description</th>
    </tr>
    <tr class="odd">
      <td><%= link_to "DNS", dns_reports_path %></td>
      <td><p>This is the report that is used for updating the DNS records with hostmaster.  **Note** this will take you a text based page with no theme </p></td>
    </tr>
    <tr class="even">
      <td><%= link_to "Upgrades", upgrades_reports_path %></td>
      <td><p>This report allows you to see what items are going to need to be upgraded next according to the Rec Sports upgrade standards</p></td>
    </tr>
  </table>
