<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<li><%= link_to "DNS Report", :action=>"dns"%></li>
    </ul>
  </div>          
  <div class="content">          

    <div class="inner">
     
   
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
