<%= render "admin/top_admin" %>
      <h3>New Location</h3>
      <%= form_for :location, :url => locations_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
<%= render "admin/bottom_admin" %>
